.major-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 2rem 0 !important;
}
.sub_major-cont {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.major2 {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.major-img1 {
  width: 65%;
  height: 100%;
  object-fit: cover;
}
.major1{
  max-width: 50%;
}
.major1  h1{
  font-size: 3rem;
}
.major1  p{
  font-size: 1.4rem;
}
.major1  h1 span{
  color: var(--pry-green-color);
}
.major-img2 {
  width: 30%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 992px) {
  .major-img2 {
    display: none;
  }
  .major-img1 {
    width: 100%;
  }
  .major1{
  max-width: 80%;
}
}
@media screen and (max-width: 780px) {
  .major1{
  max-width: 100%;
}
.major1  h1{
  font-size: 2rem;
}
.major1  p{
  font-size: 1.2rem;
}
}
@media screen and (max-width: 550px) {
.major1  p{
  font-size: 1rem;
}
}
@media screen and (max-width: 410px) {
.major1  p{
  font-size: 0.8rem;
}
.major1  h1{
  font-size: 1.45rem;
}
}
