.support-cont {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_support-cont {
  width: 90%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0 2rem 0;
}
.farm-support img{
  width: 100%;
}
.farm-support h1 {
  color: var(--pry-green-color) !important;
  font-size: 36px;
}
.farm-support p {
  font-size: 18px;
}
.sub_support-cont h1 {
  color: var(--pry-green-color);
  text-decoration: underline;
  text-align: center;
  padding-bottom: 16px;
}
.support-cont_center p {
  max-width: 1170px;
  margin: 0 auto;
  color: var(--sec-white-color);
}
@media screen and (min-width: 600px){
  .support-cont_center p {
  font-size: 2rem;
}
}
