.expects {
  height: calc(100vh - 10vh);
  width: 100%;
  background-image: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0.47053) 53.65%,
      rgba(0, 0, 0, 0.310681) 60.94%,
      rgba(0, 0, 0, 0) 77.6%
    ),
    url(../../../assets/home.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-top: 10vh !important;
}

.all {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.all-pad {
  width: 30%;
  color: var(--pry-white-color);
}
.support h1 {
  font-size: 40px;
  line-height: 1.3em;
  padding-bottom: 10px;
  font-weight: var(--font-large);
}
span{
    color: var(--span-color);
}
.contacth {
  background-color: var(--contact-back);
  text-decoration: none;
  border: none;
  color: var(--pry-white-color);
  padding: 14px 47px;
  font-size: 18px;
}
.mob {
  display: none;
}
.mob1 {
  color: var(--pry-white-color) !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh !important;
}
.mob1 h1 {
  color: var(--pry-white-color) !important;
}
.mob1 p {
  color: var(--pry-white-color) !important;
}
.pade {
  /* background-color: var(--back); */
  height: calc(100vh - 10vh);
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.9), rgba(4,9,30,0.9)), url(../../../assets/home.png);
    background-position: center;
    background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacth1 {
  width: 100%;
  background-color: var(--contact-back);
  text-decoration: none;
  border: none;
  color: var(--pry-white-color);
  padding: 20px 47px;
  font-size: 18px;
}
.mob h1 {
  font-size: 40px;
  line-height: 1.3em;
  padding-bottom: 10px;
  font-weight: var(--font-large);
}
.first {
  color: var(--span-color);
}
.mob p {
  font-size: 18px;
  line-height: 1.3em;
  padding-bottom: 10px;
}
.mob-image {
  width: 100%;
}
.mob-image img {
  width: 100%;
}
.do {
  margin-bottom: 3rem;
}
.hor-line {
  width: 27%;
  height: 3px;
  background-color: var(--contact-back);
}

@media (max-width: 992px) {
  .expects {
    display: none;
  }
  .do {
    width: 100%;
  }
  .mob {
    display: block !important;
    width: 100%;
  }
  .hor-line {
    width: 100%;
  }
  .mob h1 {
  font-size: 10px;
  line-height: 1.3em;
  padding-bottom: 10px;
  font-weight: var(--font-large);
}
}
