.aboutbutton-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 4rem 0;
    text-align: center;
    width: 100%;
}

.aboutbutton-cont button{
    padding: 1.2rem 2rem;
    background-color: var(--pry-green-color);
    color: var(--pry-light-green-color);
    border: none;
    border-radius: var(--radius);
    font-size: 1.25rem;
}