.message{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pry-green-color);
    padding: 20px 0;
    margin-bottom: 4rem;
}
.pas{
    width: 50%;
    display: flex;
    /* align-items: center; */
    /* justify-content: flex-start; */
    flex-direction: column;
}
.message h1{
    text-align: center;
    font-weight: var(--font-large);
    line-height: 1.3rem;
    padding-bottom: 10px;
    color: var(--pry-white-color);
}
form{
    padding: 20px 0;
    width:100%;
    /* display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column; */
}
.name{
    width: 100%;
    color: var(--main-color);
}
#na{
    /* padding: 3px 0; */
    width: 100%;
    border: 1px solid white;
    background-color: transparent;
    margin-bottom: 10px;
    outline: none;
    resize: none;
    color: white;
    padding: 20px;
}
#na::placeholder{
    color: var(--pry-white-color);
}
.write{
    width: 100%;
}
#writ{
    background-color:transparent;
    width: 100%;
    border: 1px solid var(--pry-white-color);
    border-radius: 0;
    outline: none;
    resize: none;
    color: var(--pry-white-color);
    padding: 20px;
}
#writ::placeholder{
    color: var(--pry-white-color);
}
.mid{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactus{
    background-color: var(--pry-white-color);
    text-decoration: none;
    border: none;
    color: var(--pry-green-color);
    padding:11px 47px;
    font-size: 18px;
    font-weight: var(--font-large);
}
@media (max-width:1000px) {
    .expect{
        display: none;
    }
    .do{
        width: 100%;

    }
    .mob{
        display: block;
        width: 100%;
     } 
     .pac{
        flex-direction: column;
        width: 100%;
    }
    .back{
        margin-bottom: 30px;
        padding:30px 0 30px 25px;
    }
    .pas{
        width: 90%;
    }
    form{
        width: 100%;
    }
    .contactus{
        width: 100%;

    }

}