/* new sytle */

footer {
  width: 100%;
  background-color: var(--pry-green-color);
  color: var(--pry-white-color) !important;
  padding: 10px 0;
  padding: 4rem 0px !important;
}
.par {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paf {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.part {
  width: calc(100% / 3);
}
.part h1 {
  color: var(--pry-white-color) !important;
}
.reduce {
  font-size: 1.5rem;
  max-width: 270px;
}
.part-image {
  display: flex;
  align-items: center;
}
.circle {
  font-size: 40px;
  padding-right: 5px;
}
footer ul li {
  list-style: none;
  color: var(--pry-white-color);
  opacity: 76%;
  padding-top: 10px;
}
footer ul {
  padding-left: 0 !important;
  text-align: left;
}
.contac-us {
  border: 2px solid var(--pry-white-color);
  text-decoration: none;
  background-color: transparent;
  color: var(--pry-white-color);
  padding: 10px 40px;
  width: 100%;
  font-size: 18px;
}
.socials {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.icon {
  width: 40px;
  height: 40px;
  background: var(--pry-white-color);
  color: var(--pry-green-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 50%;
}
.technology {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pak {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.par1 {
  display: none;
}
.paf1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.technology {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pak {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.pak p {
  font-size: 18px;
}
.links {
  padding: 20px 0 !important;
  text-align: left;
}
.links ul {
  padding-left: 0 !important;
}
@media (max-width: 992px) {
  .paf1 h1 {
    color: var(--pry-white-color) !important;
  }
  .expect {
    display: none;
  }
  .do {
    width: 100%;
  }
  .mob {
    display: block;
    width: 100%;
  }
  .pac {
    flex-direction: column;
    width: 100%;
  }
  .pas {
    width: 90%;
  }
  form {
    width: 100%;
  }
  .contactus {
    width: 100%;
  }
  .par {
    display: none;
  }
  .par1 {
    display: block;
  }
  .pak {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and  (max-width: 295px) {
  .pak p{
  font-size: 0.7rem !important;
}
}