.feed-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0 !important;
  background-color: var(--pry-green-color);overflow-x: hidden;
}
.feedmill-cont {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feed_cont1,
.feed_cont2 {
  width: 100%;
}
.feed_cont2 h1 {
  color: var(--pry-white-color) !important;
  font-size: 4rem;
  max-width: 80%;
}
.feed_cont2 p {
  color: var(--pry-white-color) !important;
  font-size: 1.5rem;
  max-width: 80%;
  line-height: 1.25;
}
@media screen and (max-width:600px) {
  .feed_cont2 h1{
  font-size: 2.5rem;
  max-width: 100%;
  /* max-width: 450px; */
}
.feed_cont2 p{
  font-size: 1.2rem;
    max-width: 100%;

  /* max-width: 480px; */
}
}
@media screen and (max-width:370px) {
  .feed_cont2 h1{
  font-size: 2rem;
  /* max-width: 450px; */
}
.feed_cont2 p{
  font-size: 1rem;
  /* max-width: 480px; */
}
}
/* .feed_cont1{
  border: 0.5rem solid var(--pry--white-color);
  border-radius: 40px;
  box-shadow: -2px 4px 21px 1px #00000040;
  overflow: hidden;
}

.about-picture {
  transition: var(--transition);
  border-radius: 40px;
  object-fit: cover;
  width: 80%;
} */

