

:root {
  --pry-green-color: #005b1a;
  --contact-back: #268c43;
  --span-color: #6aff95;

  --pry-white-color: #ffffff;
  --sec-white-color: #7d7d7d;
      --back:#0A0A0A;

  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --font-large: 600;

  --header-font: 'Fraunces', serif;
  --text-font: 'Barlow', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  border: none;
  background-color: var(--pry-light-green-color);
}
::-webkit-scrollbar-thumb {
  background: var(--pry-green-color);
  height: 3rem !important;
  border-radius: var(--radius);
}

/* about css */
