:root {
  --pry-green-color: #268C43;
  --pry-light-green-color: rgb(246, 255, 249);
  --pry-white-color: #FFFFFF;
  --sec-white-color: #7D7D7D;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;

  --header-font: 'Fraunces', serif;
  --text-font: 'Barlow', sans-serif;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  border: none;
  background-color: var(--pry-light-green-color);
}
::-webkit-scrollbar-thumb {
  background: var(--pry-green-color);
  height: 3rem !important;
  border-radius: var(--radius);
}